body{
    background-color: #030303;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.logo{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
}
.me{
    width: 100px;
    height: 100px;
}
.intro{
    text-align: left;
    color: aliceblue;
    font-size: 12px;
    margin: 0px;
    padding: 0%;
}
h1,h2,h5{
    margin: 0px;
}
.den{
    position: relative;
    height: 220px;
    width: 220px;
    left: 210px;
    top: -170px;
}
.box{
    width: 100px;
    height: 50px;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 50px;

}
.container{
    display: flex;
}
.box1{
    background-image: url('trophy.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}